@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=IM+Fell+Double+Pica:ital@1&display=swap");
body {
  font-family: "Calligraffitti", cursive, sans-serif;
  font-size: 20px;
  line-height: 1;
  background-color: pink;
}

h2 {
  font-family: "IM Fell Double Pica", serif;
  line-height: 1;
  font-weight: bold;
  background-color: wheat;
}
